/* Color Pallette https://colorhunt.co/palette/feffdeddffbc91c78852734d */

/* FONTS are 
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif; 
font-family: 'Covered By Your Grace', cursive;
*/

/*********************TAG SELECTOR**************************/

body
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif;
}

h1, h2 {
    color: #374d34;
}

h3, a {
    color: #5b7956;
}

hr {
    width: 15%;
    border: none;
    border-width: 15px;
    border-top-style: dotted;
    
    color: #EAF6F6;
}

/*********************CLASS SELECTOR**************************/

.profile-image {
    width: 100px;
    height: 100px;
}

.javascript-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.react-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-container {
    background-color: #FEFFDE; 
    position: relative;
    padding: 10rem;
}

.main-title {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 300%;
}

.profile {
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}

.middle-container {
    margin: 2rem 0rem;
    padding: 2rem 0rem;
}

.bottom-container {
    background-color: #b0b196;
    padding: 2rem 0rem;
}

.contact-me {
    padding: 1rem 0rem;
    width: 50%;
    margin: auto;
}

.top-cloud {
    max-width: 20%;
    position: absolute;
    left: 10%;
    top: 15%;
}

.bottom-cloud {
    max-width: 20%;
    position: absolute;
    right: 10%;
    top: 20%;
}

.mountain {
    width: 50%;
    height: 100%;
}

.pro {
    font-weight: bolder;
}

.sub-header {
    font-size: 1.5rem;
    color: #5b7956;
}

.skills {
    margin-top: 3rem;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
 
.btn {
    background-color:#ffe552;
    border: none;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
}

.footer-link {
        font-weight: bold;
        color: #e2e1da;
        text-decoration: none;
        margin: 0.5rem;
}